@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;}

body {
	background-image: url("images/GameLibrary LogoColor.png");
}
@media screen and (min-width: 480px)

.container {width:1000px; 
	margin: 0 auto;
}
.flex-container{
	display: flex;
}
.infoColumn
{display: flex; 
	flex-direction: column; 
	flex-grow: 1
}

.bottomContents
{display: flex;
flex-direction: column; background-color: black; color: silver} 

.bottemContents h3{
	
	text-align: center;;
		}

.showLinks
{display:flex; flex-direction: row; margin: 0 60px 0 60px; width: 100%}

.contentLinks{ margin: 0 30px 0 30px;}