@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;}

body {
	background-image: url("images/GameLibrary LogoColor.png");
}

h1 {font-family: 'Amita', serif;}
h2{font-family: 'Amita', serif;}

@media screen and (min-width: 480px)

.container{width: 1000px; margin: 0 auto}

.flex-container{
	display: flex;
}
.infoColumn
{display: flex; 
	flex-direction: column; 
	flex-grow: 1
}

.bottomContents
{display: flex;
flex-direction: column; background-color: black; color: silver} 

.bottemContents h3{
	
	text-align: center;
		}

.showLinks
{display:flex; flex-direction: row; margin: 0 60px 0 60px; width: 100%}

.contentLinks{ margin: 0 30px 0 30px;}

h1 {font-family: 'Amita', serif;}
h2{font-family: 'Amita', serif;}
label {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;}
p {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;}
